body{
	background-color: lightgrey;
}
h1{
	font-size:30px;
	color: indianred;
}

h2{
	font-size: 20px;
	color: salmon;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color:lightpink;
}